{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}

Kliknij na link by zmienić hasło:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

Dziękujemy za korzystanie z naszej strony!

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
